/* Font */

@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inria+Serif:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .start_nav {
        background: transparent;
        background-color: transparent !important;
        position: fixed;
        z-index: 1000;
        width: 100%;
        box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .start_nav .navbar-nav {
        display: none;
    }
    .start_nav:hover {
        position: fixed;
        z-index: 1000;
        width: 100%;
        background-color: #ffffff !important;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .start_nav:hover .navbar-nav {
        display: flex;
    }
    .scroll-on {
        position: fixed;
        z-index: 1000;
        width: 100%;
        padding: 0 60px;
        background-color: #ffffff;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
    }
    .scroll-on .nav_icon {
        width: auto;
        height: 50px;
    }
    .nav_icon {
        width: auto;
        height: 60px;
    }
    #title_style1 {
        height: 140px;
        width: 120px;
        border-width: 25px;
        border-style: solid;
        border-image: url(../src/images/title_box_style1.png);
        border-image-slice: 100 100 100 100 fill;
    }
    #title_style2 {
        height: 140px;
        width: 120px;
        border-width: 25px;
        border-style: solid;
        border-image: url(../src/images/title_box_style1.png);
        border-image-slice: 100 100 100 100 fill;
    }
    .s1 {
        margin-top: 18%;
    }
    .design_box:hover img {
        transform: scale(1.5);
        transition: all 0.3s;
    }
    .design_box img {
        max-width: 100%;
        transition: all 0.3s;
        display: block;
        width: 100%;
        height: auto;
        transform: scale(1);
    }
    .design_box {
        overflow: hidden;
    }
}


/* Small devices (landscape phones, less than 768px) */

@media (max-width: 992px) {
    .nav_icon {
        width: auto;
        height: 30px;
    }
    .scroll-on-mobile {
        position: fixed;
        z-index: 1000;
        width: 100%;
    }
    .second_session {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
    }
    .second_session>div:nth-of-type(1) {
        -webkit-order: 2;
    }
    .second_session>div:nth-of-type(2) {
        -webkit-order: 1;
    }
    .second_session>div:nth-of-type(1) {
        order: 2;
    }
    .second_session>div:nth-of-type(2) {
        order: 1;
    }
    #title_style1 {
        height: auto;
        width: 100%;
        border-width: 25px;
        border-style: solid;
        border-image: url(../src/images/mobile\ ver\ .png);
        border-image-slice: 80 80 80 80 fill;
    }
    #title_style2 {
        height: auto;
        width: 100%;
        transform: rotate(180deg);
        border-width: 25px;
        border-style: solid;
        border-image: url(../src/images/mobile\ ver\ .png);
        border-image-slice: 80 80 80 80 fill;
    }
    #title_style2 .title_style2_text {
        transform: rotate(180deg);
    }
    .title {
        left: 45%;
    }
}

@media (max-width: 500px) {
    .title {
        left: 41%;
    }
}


/* nav bar */

.nav-link {
    font-family: 'Roboto', sans-serif;
    color: #000000 !important;
}

.nav-link:hover {
    /* color: #2a3cad !important; */
    background: -webkit-linear-gradient(110deg, #70c5c9, #574596 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: ease-in 0.5;
}

.active {
    color: #574596 !important;
}


/* Design Session Title Box */

#design_session_title {
    text-align: center;
    margin-top: 8px;
    font-size: 21px;
    font-family: 'Anton', sans-serif;
}

.box {
    position: relative;
    width: 200px;
    height: 50px;
    background: #111845a6;
    box-sizing: border-box;
    overflow: hidden;
    box-shadow: 0 20px 50px rgb(23, 32, 90);
    border: 2px solid #2a3cad;
    color: white;
    margin-top: 20;
    margin: auto;
}

.box:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transition: 0.5s;
    pointer-events: none;
}

.box:hover::after {
    left: -50%;
    transform: skewX(-5deg);
}

.box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;
}

.box span:nth-child(1) {
    transform: rotate(0deg);
}

.box span:nth-child(2) {
    transform: rotate(90deg) translateY(-75px);
}

.box span:nth-child(3) {
    transform: rotate(180deg);
}

.box span:nth-child(4) {
    transform: rotate(270deg) translateY(-75px);
}

.box span:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #50dfdb;
    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: scaleX(0);
        transform-origin: left;
    }
    50% {
        transform: scaleX(1);
        transform-origin: left;
    }
    50.1% {
        transform: scaleX(1);
        transform-origin: right;
    }
    100% {
        transform: scaleX(0);
        transform-origin: right;
    }
}


/* other style */

.about_session {
    background-color: #1e2338;
}

.contact_session {
    background-color: #1e2338;
}

.about_session_text {
    color: #ffffff;
    margin-top: 3%;
    font-family: 'Inria Serif', serif;
}

.contact_session_text {
    font-family: 'Fjalla One', sans-serif;
}

.title {
    color: #ffffff;
    position: relative;
    font-size: 21px;
    font-family: 'Anton', sans-serif;
}

.footer_logo {
    width: 110px;
}

.design_box {
    box-shadow: 12px 12px 7px rgba(0, 0, 0, 0.5);
}

.fab:hover {
    background: -webkit-linear-gradient(110deg, #70c5c9, #574596 65%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: ease-in 0.5;
}