body {}


/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .navbar-expand-lg {
        background: transparent;
        background-color: transparent !important;
        position: fixed;
        z-index: 1000;
        width: 100%;
    }
    .nav_icon {
        width: auto;
        height: 60px;
    }
}


/* Small devices (landscape phones, less than 768px) */

@media (max-width: 768px) {
    .nav_icon {
        width: auto;
        height: 30px;
    }
}